.md-header__button[for="__drawer"] {
    display: none !important;
}

.md-sidebar--primary {
    display: none !important;
}

.md-sidebar--secondary {
    display: none !important;
}

.md-main__inner {
    justify-content: center;
}

.md-content {
    max-width: 800px;
    width: 100%;
    margin: 0 auto !important;
}

@media screen and (max-width: 76.1875em) {
    .md-tabs {
        display: block !important;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    
    .md-tabs__list {
        display: flex;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
    }
    
    .md-tabs__item {
        flex-shrink: 0;
    }
}